body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-menu {
  color: #b3c6cd;
  padding: 15px;
  border-bottom: 3px solid transparent;
  justify-self: center;
  text-decoration: none;
}

  .btn-menu:hover {
      color: #b3c6cd;
      border-bottom: 3px solid #b3c6cd;
  }
  .navbar-header {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
}
.container-box {
  width: 100%;
  height: 50px;
  background: #10465e;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.main {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 50px;
  box-shadow: 0px 10px 45px #10465e;
  color: #a0d7ef;
  z-index: 10;
}
.container-main {
  display: compact;
  justify-content:inherit;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
